<?xml version="1.0"?>
<launch>
​
  <!-- Run the map server -->
  <arg name="map_file" default="$(find turtlebot_navigation_gazebo)/habitacion/habitacion_27122021.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
​
  <!--- Run AMCL -->
  <include file="$(find turtlebot_navigation_gazebo)/launch/amcl_habitacion.launch" />
​
  <!--- Run Move Base -->
  <include file="$(find my_move_base)/launch/my_move_base_launch_habitacion.launch" />

</launch>
