<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="jadeMW" monitorInterval="5">

	<!-- Define custom levels before using them for filtering below. -->
	<CustomLevels>
		<CustomLevel name="MESSAGE" intLevel="700" />
		<CustomLevel name="TIMESTAMP" intLevel="800" />
	</CustomLevels>


	<appenders>
	
		<console name="console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} %-7M %L - %msg%n" />
		</console>

		<rollingFile name="rFile" fileName="logs/mwm.log" filePattern="logs/mwm-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} %-7M %L - %msg%n" />
			<policies>
				<sizeBasedTriggeringPolicy size="10 MB" />
			</policies>
			<defaultRolloverStrategy max="4" />
		</rollingFile>

		
		<rollingFile name="timeStampFile" fileName="logs/timestamp.log" filePattern="logs/timestamp-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} %-7M %L - %msg%n" />
			<filters>
				<thresholdFilter level="message" onMatch="DENY" onMismatch="NEUTRAL" />
			</filters>
			<policies>
				<sizeBasedTriggeringPolicy size="10 MB" />
			</policies>
			<defaultRolloverStrategy max="4" />
		</rollingFile>

	</appenders>

	<loggers>

		<!-- package es.ehu -->
		<logger name="es.ehu.SystemModelAgent">					<appenderRef ref="console" level="info"/></logger>
		<logger name="es.ehu.ThreadedCommandProcessor">			<appenderRef ref="console" level="info"/></logger>

		<!-- package es.ehu.platform -->
		<logger name="es.ehu.platform.MWAgent">					<appenderRef ref="console" level="info"/></logger>

		<!-- package es.ehu.platform.utilities -->
		<logger name="es.ehu.platform.utilities.StateParallel">	<appenderRef ref="console" level="info"/></logger>





		<logger name="es.ehu.domain.manufacturing.utilities.Planner">	<appenderRef ref="console" level="info"/></logger>
		<logger name="es.ehu.NodeAgent">								<appenderRef ref="console" level="info"/></logger>



		<logger name="es.ehu.domain.manufacturing.utilities.Planner">	<appenderRef ref="console" level="debug"/></logger>
		
		<logger name="es.ehu.platform.template.interfaces.BasicFunctionality">	<appenderRef ref="console" level="info"/></logger>
		<logger name="es.ehu.platform.behaviour.BootBehaviour">					<appenderRef ref="console" level="info"/></logger>
		<logger name="es.ehu.platform.behaviour.ResourceBootBehaviour">			<appenderRef ref="console" level="info"/></logger>
		<logger name="es.ehu.platform.behaviour.NegotiatingBehaviour">			<appenderRef ref="console" level="info"/></logger>
		
		
		<logger name="es.ehu.domain.manufacturing.agents.functionality.MPlan_Functionality"> <appenderRef ref="console" level="debug"/></logger>

		<logger name="es.ehu.BootBehaviour">			<appenderRef ref="console" level="info"/><!-- <appenderRef ref="rFile" level="debug"/>--></logger>
		<logger name="es.ehu.ControlBehaviour">			<appenderRef ref="console" level="info"/><!-- <appenderRef ref="rFile" level="debug"/>--></logger>
		<logger name="es.ehu.RunningBehaviour">			<appenderRef ref="console" level="info"/><!-- <appenderRef ref="rFile" level="debug"/>--></logger>
		<logger name="es.ehu.TrackingBehaviour">		<appenderRef ref="console" level="info"/><!-- <appenderRef ref="rFile" level="debug"/>--></logger>
		<logger name="es.ehu.PausedBehaviour">			<appenderRef ref="console" level="info"/><!-- <appenderRef ref="rFile" level="debug"/>--></logger>


		<root level="timestamp">
			<appenderRef ref="timeStampFile" level="fatal"/>
		</root>
	</loggers>
</configuration>