<launch>

    <node pkg ="turtlebot_project_rosbasic"
        type="cmd_vel_publisher.py"
        name="cmd_vel_publisher_node"
        output="screen">
    </node>

    <node pkg ="turtlebot_project_rosbasic"
        type="laser_sub.py"
        name="laser_sub_node"
        output="screen">
    </node>

    <node pkg ="turtlebot_project_rosbasic"
        type="odom_topic_subscriber.py"
        name="odom_topic_subscriber_node"
        output="screen">
    </node>

</launch>