<launch>
  <arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>

  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(find turtlebot_project_rosbasic)/worlds/empty_world.world"/>
  </include>
  
  <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
  </include>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  

<!-- Fake laser --> 
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="/camera_depth_frame"/>
    <param name="range_min" value="0.45"/>
    <remap from="image" to="/camera/depth/image_raw"/>
    <remap from="scan" to="/scan"/>
  </node>






  <!-- urg node porque en kinetic hokuyo_node no existe-->
<!--
 <node name="hokuyo" pkg="urg_node" type="urg_node" respawn="false" output="screen">
  <param name="calibrate_time" type="bool" value="true"/>
  <param name="port" type="string" value="/dev/ttyACM0"/>
  <param name="intensity" type="bool" value="false"/>
  <param name="min_ang" value="-2.2689"/>
  <param name="max_ang" value="+2.2689"/>
  <param name="cluster" value="1"/>
  <param name="frame_id" value="hokuyo_laser_frame"/>
 </node> 

  <node pkg="laser_assembler" type="laser_scan_assembler" output="screen"  name="laser_scan_assembler">
    <remap from="scan" to="/kobuki/laserscan"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="400" />
    <param name="ignore_laser_skew" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>

 <node name="urg30lx_hokuyo_node" pkg="urg_node" type="urg_node" output="screen" >
   <param name="ip_address" value="192.168.13.110" type="string" />
   <param name="publish_multiecho" value="false" type="bool" />
   <param name="publish_intensity" value="false" type="bool" />
   <param name="angle_min" value="-2.26892805099" type="double" />      
   <param name="angle_max" value="2.26892805099" type="double" />
   <param name="skip" value="0" type="int" />  
   </node>

-->


  <!-- Move base 
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/> -->


</launch>
